

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paper img{
    width: 100%;
    height: 100%;
}
html{
overflow-x:hidden;
}
#prev-btn{
z-index:5;
}
#next-btn{

z-index:5;
}

#prev-btn img{
width:25px;
height:25px;
z-index:5;
}
#next-btn img{
width:25px;
z-index:5;
height:25px;
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;

}
.book {
    position: relative;
    width:45%;
    height: 30vh;
    z-index:2;
    transition: transform 0.5s;
}

.main-container{
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    

}
#bkc-map{
width:100%;
}
.bkc-map{
width:100%;
margin:auto;
height:30vh;
}


@media only screen and (min-width: 600px) {
 .book {
        position: relative;
        width:40%;
        height: 40vh;
        transition: transform 0.5s;
    }
.main-container{
        display: flex;
        width: 80vw;
        margin: auto;
        align-items: center;
        overflow: hidden;
        position: relative;
        justify-content: space-between;
        
    
    }
    #prev-btn img{
width:45px;
height:45px;
}
   #next-btn img{
width:45px;
height:45px;
}
#bkc-map{
width:100%;
}
.bkc-map{
width:100%;
margin:auto;
height:50vh;
}









}

@media only screen and (min-width: 1025px) {
.book {
    position: relative;
    width:40%;
    height: 90vh;
    transition: transform 0.5s;
}
#bkc-map{
width:100%;
}
.bkc-map{
width:100%;
margin:auto;
height:70vh;
}

.main-container{
    display: flex;
    width: 70vw;
    margin: auto;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
 }
#prev-btn img{
width:64px;
height:64px;
}
   #next-btn img{
width:64px;
height:64px;
}
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
}.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #F0ECDD;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

#p1 {
    z-index: 13;
}

#p2 {
    z-index: 12;
}

#p3 {
    z-index: 11;
}
#p4 {
    z-index: 10;
}

#p5 {
    z-index: 9;
}

#p6 {
    z-index: 8;
}

#p7 {
    z-index: 7;
}

#p8 {
    z-index: 6;
}
#p9 {
    z-index: 5;
}

#p10 {
    z-index: 4;
}

#p11 {
    z-index: 3;
}

#p12 {
    z-index: 2;
}

#p13 {
    z-index: 1;
}



